.tab-pane .eer-sub-tabs.nav-tabs {
  border: 0; }
  .tab-pane .eer-sub-tabs.nav-tabs li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    outline: 0; }
    .tab-pane .eer-sub-tabs.nav-tabs li a {
      line-height: 2;
      padding: .2em;
      text-decoration: none;
      color: #337ab7;
      background: none;
      border: 0;
      margin: 0;
      border-radius: 0;
      font-size: 13px;
      float: none;
      outline: 0;
      display: inline; }
      .tab-pane .eer-sub-tabs.nav-tabs li a:hover, .tab-pane .eer-sub-tabs.nav-tabs li a:focus, .tab-pane .eer-sub-tabs.nav-tabs li a:active {
        text-decoration: none;
        background: none;
        border: 0; }
    .tab-pane .eer-sub-tabs.nav-tabs li.active a {
      color: #000;
      border: 0; }

.eer-orders tbody tr:hover, .eer-sold-tickets tbody tr:hover {
  background-color: #9c9c9c; }

.eer-sold-tickets .actions .eer-action i.fa-remove {
  float: left;
  color: #D46A6A;
  margin: 1px auto;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 23px;
  cursor: pointer; }

.eer-orders .actions .eer-action i.fa-remove {
  color: #D46A6A; }

.eer-orders .actions .eer-action i.fa-usd {
  color: #366e2e; }

.eer-edit-box-wrapper {
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 998; }

.eer-edit-box {
  display: none;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  z-index: 999; }
  .eer-edit-box th, .eer-edit-box td {
    padding: 2px 0; }
  .eer-edit-box td {
    padding-left: 10px; }

.eer-actions-box {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  margin-top: 4px;
  position: absolute;
  width: auto;
  z-index: 999;
  display: none;
  flex-direction: column; }
  .eer-actions-box.eer-show {
    display: flex; }
  .eer-actions-box.dropdown-menu {
    min-width: 190px; }
    .eer-actions-box.dropdown-menu > li > a {
      padding: 3px 20px 3px 10px; }
  .eer-actions-box:after, .eer-actions-box:before {
    bottom: 100%;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .eer-actions-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -70px; }
  .eer-actions-box:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #00000026;
    border-width: 7px;
    margin-left: -71px; }
  .eer-actions-box li {
    display: inline-block;
    width: 100%; }
    .eer-actions-box li:last-child {
      margin-bottom: 0; }
    .eer-actions-box li i, .eer-actions-box li span {
      color: #5A738E;
      width: auto; }
    .eer-actions-box li i {
      width: 20px;
      text-align: center; }

table.dataTable tbody tr.eer-status-0 {
  background-color: #B8C2D8; }

table.dataTable tbody tr.eer-status-1, table.dataTable tbody tr.eer-status-3 {
  background-color: #A5C663; }

table.dataTable tbody tr.eer-status-2 {
  background-color: #D46A6A; }

.eer-relative {
  position: relative; }

.eer-datatable .eer-status-0, .eer-datatable.eer-status-1, .eer-datatable.eer-status-2 {
  background: transparent; }

.eer-datatable.eer-sold-tickets .eer-status-0 {
  background-color: #B8C2D8; }
  .eer-datatable.eer-sold-tickets .eer-status-0 .eer-actions-box .eer-action.remove-forever {
    display: none; }

.eer-datatable.eer-sold-tickets .eer-status-1 {
  background-color: #A5C663; }
  .eer-datatable.eer-sold-tickets .eer-status-1 .eer-actions-box .eer-action.confirm, .eer-datatable.eer-sold-tickets .eer-status-1 .eer-actions-box .eer-action.remove-forever {
    display: none; }

.eer-datatable.eer-sold-tickets .eer-status-2 {
  background-color: #D46A6A; }
  .eer-datatable.eer-sold-tickets .eer-status-2 .eer-actions-box .eer-action.edit, .eer-datatable.eer-sold-tickets .eer-status-2 .eer-actions-box .eer-action.remove {
    display: none; }

.eer-datatable.eer-orders .eer-status-0 {
  background-color: #B8C2D8; }

.eer-datatable.eer-orders .eer-status-1 {
  background-color: #D46A6A; }

.eer-datatable .eer-row.eer-ticket .remove {
  display: inline-block; }

.eer-datatable .eer-row.eer-ticket .remove-forever {
  display: none; }

.eer-datatable .eer-row.eer-ticket.eer-to-remove .actions .remove {
  display: none; }

.eer-datatable .eer-row.eer-ticket.eer-to-remove .actions .remove-forever {
  display: inline-block; }

.eer-datatable .eer-row.eer-order .remove {
  display: inline-block; }

.eer-datatable .eer-row.eer-order .remove-forever {
  display: none; }

.eer-datatable .eer-row.eer-order.eer-status-1 .actions .remove, .eer-datatable .eer-row.eer-order.eer-status-1 .actions .send-tickets {
  display: none; }

.eer-datatable .eer-row.eer-order.eer-status-1 .actions .remove-forever {
  display: inline-block; }

.eer-datatable .eer-note .eer-show-note {
  margin: 0 auto;
  display: block;
  width: 14px;
  cursor: pointer; }

.eer-datatable .eer-note .eer-hide-note {
  margin: 0 5px 0 0;
  display: none;
  width: 14px;
  float: left;
  cursor: pointer; }

.eer-datatable .eer-note .eer-note-message {
  display: none;
  min-width: 150px; }

.eer-datatable .eer-header-note .dashicons {
  cursor: pointer; }

.eer-datatable .eer-header-note .eer-hide-all-notes {
  display: none; }

.eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-ticket-shop-form {
  width: auto; }
  .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-ticket-shop-form .eer-info-row {
    margin: 10px 0;
    padding: 0; }

.eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form {
  max-width: 400px; }
  .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row {
    margin: 10px 0; }
    .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group {
      width: 48%;
      margin: 0 1%;
      float: left;
      box-sizing: border-box; }
      .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group label {
        width: 100%;
        display: block; }
      .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group input:not([type=checkbox]), .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group select, .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group textarea {
        width: 100%; }
      .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group input[type=checkbox] {
        float: left;
        display: inline-block;
        margin: 0 10px 0 0;
        width: 14px;
        height: 14px; }
      .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row .eer-form-group:first-child {
        margin-left: 0;
        padding-left: 0; }
    .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row.eer-form-checkbox label {
      float: left;
      width: auto;
      display: inline-block;
      padding-left: 0;
      padding-top: 0;
      font-size: 11px; }
    .eer-settings.eer-tickets-sale-wrapper.eer-add-over-limit .eer-user-form .eer-row.eer-full-width .eer-form-group {
      width: 100%; }

.eer-select-event {
  margin-bottom: 10px; }
  .eer-select-event .page-title-action {
    top: 0; }

.eer-form-column {
  width: 49%;
  display: inline-block; }

.eer-edit-form input[type=checkbox] {
  margin-right: 10px; }

.eer-edit-form label {
  margin-bottom: 0; }

.eer-edit-form .mce-edit-area iframe {
  min-height: 150px; }

.eer-socials {
  font-size: 25px; }
  .eer-socials a {
    margin-right: 5px;
    box-shadow: none; }

.eer-row .actions.eer-payment .eer-action.confirm-payment {
  display: none; }

.eer-row .actions.eer-payment .eer-action.edit {
  display: block; }

.eer-row.eer-status-0 .actions.eer-payment .eer-action.confirm-payment {
  display: block; }

.eer-row.eer-status-0 .actions.eer-payment .eer-action.edit {
  display: none; }

.eer-copy-on-click {
  cursor: pointer; }

.eer-range {
  width: 80%; }
  .eer-range-value {
    width: 80%;
    display: block;
    text-align: center; }
