<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<!-- Easy School Registration -->
			<directory suffix=".php">inc/enum</directory>
			<directory suffix=".php">inc/model</directory>
			<directory suffix=".php">inc/worker</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="/tmp/report" lowUpperBound="35"
			 highLowerBound="70"/>
		<log type="coverage-clover" target="/tmp/coverage.xml"/>
		<log type="coverage-php" target="/tmp/coverage.serialized"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		<log type="junit" target="/tmp/logfile.xml" logIncompleteSkipped="false"/>
		<log type="testdox-html" target="/tmp/testdox.html"/>
		<log type="testdox-text" target="/tmp/testdox.txt"/>
	</logging>
</phpunit>
