.tab-pane {
	.eer-sub-tabs {
		&.nav-tabs {
			border: 0;
			
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				outline: 0;
				
				a {
					line-height: 2;
					padding: .2em;
					text-decoration: none;
					color: #337ab7;
					background: none;
					border: 0;
					margin: 0;
					border-radius: 0;
					font-size: 13px;
					float: none;
					outline: 0;
					display: inline;
					
					&:hover, &:focus, &:active {
						text-decoration: none;
						background: none;
						border: 0;
					}
				}
				&.active {
					a {
						color: #000;
						border: 0;
					}
				}
			}
		}
	}
}

.eer-orders tbody tr:hover, .eer-sold-tickets tbody tr:hover {
	background-color: #9c9c9c;
}

.eer-sold-tickets .actions .eer-action i.fa-remove {
	float: left;
	color: #D46A6A;
	margin: 1px auto;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 23px;
	cursor: pointer;
}

.eer-orders .actions .eer-action i.fa-remove {
	color: #D46A6A;
}

.eer-orders .actions .eer-action i.fa-usd {
	color: #366e2e;
}

.eer-edit-box-wrapper {
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 998;
}

.eer-edit-box {
	display: none;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 15px;
	position: fixed;
	width: 500px;
	//height: 300px;
	left: 50%;
	margin-left: -250px;
	z-index: 999;
	
	th, td {
		padding: 2px 0;
	}
	td {
		padding-left: 10px;
	}
}

.eer-actions-box {
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 5px 5px rgba(102, 102, 102, .1);
	margin-top: 4px;
	position: absolute;
	width: auto;
	z-index: 999;
	display: none;
	flex-direction: column;

	&.eer-show {
		display: flex;
	}

	&.dropdown-menu {
		min-width: 190px;

		& > li > a {
			padding: 3px 20px 3px 10px;
		}
	}

	&:after, &:before {
		bottom: 100%;
		left: 40%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 6px;
		margin-left: -70px;
	}

	&:before {
		border-color: rgba(0, 0, 0, 0);
		border-bottom-color: #00000026;
		border-width: 7px;
		margin-left: -71px;
	}

	li {
		display: inline-block;
		width: 100%;

		&:last-child {
			margin-bottom: 0;
		}

		i, span {
			color: #5A738E;
			width: auto;
		}

		i {
			width: 20px;
			text-align: center;
		}
	}

}

table.dataTable tbody tr {
	&.eer-status-0 {
		background-color: #B8C2D8;
	}
	&.eer-status-1, &.eer-status-3 {
		background-color: #A5C663;
	}
	&.eer-status-2 {
		background-color: #D46A6A;
	}
}

.eer-relative {
	position: relative;
}

.eer-datatable {
	.eer-status-0, &.eer-status-1, &.eer-status-2 {
		background: transparent;
	}
	&.eer-sold-tickets {
		.eer-status {
			&-0 {
				background-color: #B8C2D8;
				
				.eer-actions-box {
					.eer-action {
						&.remove-forever {
							display: none;
						}
					}
				}
			}
			&-1 {
				background-color: #A5C663;
				
				.eer-actions-box {
					.eer-action {
						&.confirm, &.remove-forever {
							display: none;
						}
					}
				}
			}
			&-2 {
				background-color: #D46A6A;
				
				.eer-actions-box {
					.eer-action {
						&.edit, &.remove {
							display: none;
						}
					}
				}
			}
		}
	}
	&.eer-orders {
		.eer-status {
			&-0 {
				background-color: #B8C2D8;
			}
			&-1 {
				background-color: #D46A6A;
			}
		}
	}
	.eer-row {
		&.eer-ticket {
			.remove {
				display: inline-block;
			}
			.remove-forever {
				display: none;
			}
			
			&.eer-to-remove {
				.actions {
					.remove {
						display: none;
					}
					.remove-forever {
						display: inline-block;
					}
				}
			}
		}
		&.eer-order {
			.remove {
				display: inline-block;
			}
			.remove-forever {
				display: none;
			}
			
			&.eer-status-1 {
				.actions {
					.remove, .send-tickets {
						display: none;
					}
					.remove-forever {
						display: inline-block;
					}
				}
			}
		}
	}
	.eer-note {
		.eer-show-note {
			margin: 0 auto;
			display: block;
			width: 14px;
			cursor: pointer;
		}
		.eer-hide-note {
			margin: 0 5px 0 0;
			display: none;
			width: 14px;
			float: left;
			cursor: pointer;
		}
		.eer-note-message {
			display: none;
			min-width: 150px;
		}
	}
	.eer-header-note {
		.dashicons {
			cursor: pointer;
		}
		.eer-hide-all-notes {
			display: none;
		}
	}
}

.eer-settings {
	&.eer-tickets-sale-wrapper.eer-add-over-limit {
		.eer-ticket-shop-form {
			width: auto;
			.eer-info-row {
				margin: 10px 0;
				padding: 0;
			}
		}
		.eer-user-form {
			max-width: 400px;
			.eer-row {
				margin: 10px 0;
				
				.eer-form-group {
					width: 48%;
					margin: 0 1%;
					float: left;
					box-sizing: border-box;
					
					label {
						width: 100%;
						display: block;
					}
					input:not([type=checkbox]), select, textarea {
						width: 100%;
					}
					input[type=checkbox] {
						float: left;
						display: inline-block;
						margin: 0 10px 0 0;
						width: 14px;
						height: 14px;
					}
					&:first-child {
						margin-left: 0;
						padding-left: 0;
					}
				}
				&.eer-form-checkbox {
					label {
						float: left;
						width: auto;
						display: inline-block;
						padding-left: 0;
						padding-top: 0;
						font-size: 11px;
					}
				}
				&.eer-full-width {
					.eer-form-group {
						width: 100%;
					}
				}
			}
		}
	}
}

.eer-select-event {
	margin-bottom: 10px;
	
	.page-title-action {
		top: 0;
	}
}

.eer-form-column {
	width: 49%;
	display: inline-block;
}

.eer-edit-form {
	input {
		&[type=checkbox] {
			margin-right: 10px;
		}
	}
	label {
		margin-bottom: 0;
	}
	.mce-edit-area {
		iframe {
			min-height: 150px;
		}
	}
}

.eer-socials {
	font-size: 25px;
	
	a {
		margin-right: 5px;
		box-shadow: none;
	}
}

.eer-row {
	.actions.eer-payment {
		.eer-action {
			&.confirm-payment {
				display: none;
			}
			&.edit {
				display: block;
			}
		}
	}

	&.eer-status-0 {
		.actions.eer-payment {
			.eer-action {
				&.confirm-payment {
					display: block;
				}
				&.edit {
					display: none;
				}
			}
		}
	}
}

.eer-copy-on-click {
	cursor: pointer;
}

.eer-range {
	width: 80%;

	&-value {
		width: 80%;
		display: block;
		text-align: center;
	}
}